h1{
    background-color: blanchedalmond;
    color: lightpink;
    font-style: inherit;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-variant: small-caps;
}
h2{
    background-color: black;
    color: white;
    font-style: unset;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    font: 100;
}
h3{
    
    background-color: aquamarine;
    color: bisque;
    color: black;
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}